body{
	background-image:url(../images/pattern.png);
	background-repeat:repeat-x;
	background-color:#0C739F;
	margin:0;
}
a{
	text-decoration:none;
}
#wrapper{
	width:1000px;
	margin:0px auto;
	background-color:#EDEEF0;
	outline:1px solid #000000;
	min-width:1000px;
	max-width:1000px;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	margin-bottom:50px;
}
#header1{
	height:175px;
	margin:0px auto;
	position:relative;
	background-color:#ffffff;
	
}
#contacts{
	padding:0px 30px 0 0;
	position:absolute;
	right:0px;
	top:0;
}
#contacts p{
	text-align:left;
	font:12px Tahoma;
	color:#46A4BB;
	font-style:400;
	padding:0px;
	margin:4px 4px;
}
#contacts p a{
	color:inherit;
}
#country{
	position:absolute;
	right:0px;
	bottom:0px;
}
#palm{
	position:absolute;
	left:0px;
}
#header2{
	width:1000px;
	height:235px;
	background-image:url(../images/baner.png);
	border-top:1px solid #46A4BB;
	border-bottom:1px solid #46A4BB;
}

#header3{
	background-color: #323232;
	border-top:1px solid #EDEEF0;
	border-bottom:2px solid #black;
	font:12px Tahoma;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;

}
ul.menu > li > a {
    display: block;
    padding: 5px 15px;
    color: white;
    background-color: #323232;
    text-decoration: none;
	width: 110px;
}
ul.menu > li > a:hover {
    background-color: #323232;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 142px;
    top: 100%;
    left: 0;
    background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #323232;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}


#sidebar1{
	width:265px;
	float:right;
}

#sidebar2{
	width:265px;
	float:left;
}
#content{
	width:470px;
	margin:0px auto;
	background-color:#ffffff;
	border-left:1px solid #CACDD1;
	border-right:1px solid #CACDD1;
	margin-top:3px;
	border-top:1px solid #CACDD1;
}
h3{
	text-align:center;
	font:23px Tahoma;
	color:#424C43;
	font-style:900;
	line-height:50%;
}

#sidebar2 p,#sidebar1 p{
	font:17px Tahoma;
	color:#424C43;
	font-style:400;
	line-height:50%;
	text-align:center;
}
